// bower:scss
// endbower


body {
  padding: 0;
  background-color:#141414;
  color: #999;
}
.navbar-brand {
  padding: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar.navbar-default {
  min-height: 71px;
  background-color: black;
  border-color:black;

}
.logon {
  position: absolute;
  top: 0;
  right:14px;
}
.prv {
  border:1px solid magenta !important;
}
.lnk {
  margin-left:10px;
  display: inline-block;
  &.lnk-img {
    width:23px;
    height:23px;
    background-size: contain;
    background-position: center middle;
    background-repeat: no-repeat;
  }
  &.lnk-gmail {
    background-image: url(../images/bt_gmail.png);
  }
  &.lnk-linkedin {
    background-image: url(../images/bt_linkedin.png);
  }
  &.lnk-instagram {
    background-image: url(../images/bt_instagram.png);
  }
  &.lnk-behance {
    background-image: url(../images/bt_behance.png);
  }
  &.lnk-github {
    background-image: url(../images/bt_github.png);
  }
}

#details {
  background-color:rgba(0, 0, 0, 0.8);
  display: block;
  width:100vw;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  .btn-close {
    top: 0;
    width:25px;
    height:25px;
    margin:5px;
  }

  .details-internal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  }
  img {
    max-width:80vw;
    max-height:80vh;
  }
}

.thumbnail {
  background-color: transparent;
  border:0;
  margin:-2px;
  margin-bottom:4px;
  cursor:pointer;
  border-radius: 0px;
  &.active {
    background-color: white;
    &:after {
      content:"";
      border-color: #fff transparent transparent transparent;
      border-style:solid;
      border-width:9px;
      width:0;
      height:0;
      position:absolute;
      bottom:-11px;
      left:30px
    }
  }
}

.movie-description-block {
    padding:0px;
    margin-bottom:20px;
}
.movie-description-container {
  position: relative;
  left:0;
  background-color:black;
  width:100%;
  &.bg {
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
}
.movie-description-container {
  transition: background-image 0.6s ease-in-out;
}
.movie-section {
  margin-bottom:24px;
  h2 {
    margin-top:20px;
    font-size: 1.4vw;
    color: #999;
    font-weight: 700;
    margin: 0 0 .5em;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
  }
}
.movie-details {
  padding-top:40px;
  overflow: hidden;
  margin-left:50px;
  opacity: 0;
  width:50%;
  .original {
    width: 97%;
    background-size: contain;
    height: 8vh;
    background-repeat: no-repeat;
  }
  h1 {
    line-height: 1;
    margin: 0;
    font-weight: 700;
    color: #fff;
    font-size: 2.2vw;
    width: 670px;
  }
  .fake_links {
    width:30vw;
    height:10%;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 32vw;
    .flnk {
      font-weight:800;
      color:white;
      border-bottom: 3px solid transparent;
      margin-right:10px;
      display: inline-block;
      cursor:pointer;
      &.detalhes {
        &:hover {
          text-decoration: none;
          color: #626262;
        }
      }

      &.active {
        border-bottom: 3px solid red;
      }
    }
  }
  .tx-space {
    display:block;
    height:2px;
    margin-top:70px;
  }
  .stars {
    margin-top:5px;
    width:70%;
    height: 30px;
    img {
      width:90%;
    }
  }
  .tx {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.95vw;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom:2.2px;
    &.description {
      margin-bottom:15px;
    }
  }
  .wt {
    font-weight: 500;
    color: white;
  }
  .award {
    font-size: 0.81vw;
    margin-top:1vh;
    img {
      width:5%;
      //height:25px;
      margin-right:10px;
      float:left;
    }
  }
}

.page {

}

#main {
  transition: opacity .25s ease-in;
  &.ng-enter {
    opacity:0;
    &.ng-enter-active {
      left:1;
    }
  }
}
.simplemodal {
  top:0px;
  position: absolute;
  margin-top:90px;
  z-index: 999;
  background-color: black;
  display: block;
  width: 100%;
  height:70vh;
  color: #fff;
  h1 {
    padding-top:20px;
    line-height: 1;
    margin: 0;
    font-weight: 900;
    color: #fff;
    font-size: 3vw;
  }

}

.btn-close {
  border:1px solid transparent;
  width:30px;
  height:30px;
  cursor: pointer;
  position: absolute;
  margin-top: 2px;
  right: 0px;
  background-image: url(../images/bt_close.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 20px;
  &:hover {
    border-color: white;
  }
  margin:20px;
  top:15px;
}

#thanks {
  .person {
    margin-bottom:20px;
  }
  h3 {
    color: white;
  }
  img {
    margin:20px;
    margin-top:5px;
    margin-left:5px;
  }
  p { margin: 0 0 3px; }
  strong {
    color: white;
    font-size:1.0em;
  }
  .stars {
    width:74px;
    height:14px;
    background-image: url(../images/star.png);
    background-size: contain;
    margin-left: 115px;
  }
}
.disclaimer-content {
  width:60vw;
  margin-top:30px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.95vw;
  font-weight: 500;
  line-height: 1.2;

}
#cv {
  top:0px;
  position: absolute;
  margin-top:70px;
  z-index: 999;
  background-color: #141414;
  display: block;
  width: 100%;
  height:100vh;

  .chofra-block {
    margin-top:40px;
    img {
      width:100%;
    }
    .text-place {
      width:65%;
      height:30%;
      position: absolute;
      left:33%;
      top:0px;
      .blade-runner-place {
        height:70px;
        position: absolute;
        width:100%;
        margin-top:-106px;
        background-image: url(../images/curriculo_title.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;

      }
      img.rating {
          width:27vw;
      }
      .cv-text {
        width:70%;
        color: white;
        padding-top:10px;
        line-height: 1.28vw;
        font-size:0.8vw
      }

      .btn-close {
        border:1px solid transparent;
        width:30px;
        height:30px;
        cursor: pointer;
        position: absolute;
        margin-top: 2px;
        right: 0px;
        background-image: url(../images/bt_close.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        border-radius: 20px;
        &:hover {
          border-color: white;
        }

      }
    }
  }

}

.footer {
  color: #808080;
  a {
    color: #808080;
    text-decoration: none;
    cursor:pointer;
    &:hover {
      color: white;
    }
  }
}

#landing-page {
  img {
    width:120px;
    position: absolute;
    top:30px;
    left:4vw;
  }
  .maincontent {
    margin-left:0.5vw;
    width:99vw;
    height:95vh;
    margin-top:1vh;
    background-size: cover;
    background-image: url(../images/landing.png);
    padding-left:4vw;
    h1 {
      padding-top:22vh;
      line-height: 1;
      margin: 0;
      font-weight: 900;
      color: #fff;
      font-size: 4.7vw;
    }
    h2 {
      padding-top:3vh;
      padding-bottom:3vh;
      line-height: 1;
      margin: 0;
      font-weight: 700;
      color: #fff;
      font-size: 1.4vw;
    }
  }
  .button-go {
    display:inline-block;
    width:273px;
    height:44px;
    cursor: pointer;
    background-image: url(../images/bt_gratis.png);
    &:hover {
      background-image: url(../images/bt_gratis_over.png);
    }
    &.en {
      background-image: url(../images/bt_free.png);
      &:hover {
        background-image: url(../images/bt_free_over.png);
      }
    }
  }
}


div#preload { display: none; }
.animate-if.ng-leave {
  //-webkit-transition: 1s linear all;
  //-moz-transition: 1s linear all;
  //-ms-transition: 1s linear all;
  //-o-transition: 1s linear all;
  //transition: 1s linear all;
}
/* du début de l'entrée */
 .animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}
/* à la fin de l'entrée */
 .animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    opacity:1;
}
/* du début de la sortie */
 .animate-if.ng-leave {
    max-height: 999px;
    opacity:1;
}
/* à la fin de la sortie */
 .animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}


.row-movies {
  margin-top:3px;
  .col-sm-2, .col-md-2, .col-xs-2, .col-lg-2 {
    padding:0px
  }
}
  @media (max-width: 690px) {
//    .award {
//      img {
//        width:15px !important;
//        height:15px !important;
//      }
//    }
    .logon {
      display: none;
    }
  }
  @media (max-width: 990px) {
    .movie-description-container {
      min-height:220px;
    }
    .container {
      margin-left:auto;
    }
    .container2 {
      padding-right: 20px;
      padding-left: 20px;
      margin-left:0px;
      margin-right:0px;
      width:100%;
    }

  }
  @media (min-width: 990px) {
    .movie-description-container {
      min-height:310px;
    }
    .container {
      margin-left:30px;
    }
    .container2 {
      padding-right: 20px;
      padding-left: 20px;
      margin-left:0px;
      margin-right:0px;
      width:100%;
    }
  }
