 <div class="chofra-block">
    <img src="images/curriculo_background.png">
    <div class="text-place">
      <div class="blade-runner-place"></div>
        <div class="btn-close" ng-click="closeCV()"></div>
        <img class="rating" src="images/curriculo_rating.png">
        <div class="cv-text lang-pt" ng-if="lang=='pt'">
          <p>Paulista Info-freak, sou um “ligador de pontos” que não acredita no conceito “fora da caixa” e sim em solucionar as necessidades do mercado e mudar o comportamento de shoppers e consumidores através de criatividade e dados.</p>


          <p>Trabalho há mais de 20 anos com criatividade/arte/insight no mercado publicitário e cheguei à Direção de Criação vindo das trincheiras, me especializei em “nada”, já que acredito que quanto mais abrangente o seu know-how, maior a chance de inovar e construir boas ideias.</p>


          <p>Para coordenar times/fornecedores com funções criativas diferentes dentro de um mesmo conceito, é melhor ter um mar de conhecimento com meio metro de profundidade, sobre o máximo de assuntos possíveis, do que um poço de 20 metros monotemático. Pois usando a linguagem correta você pode delegar e conectar o trabalho de todos envolvidos, trazendo qualidade real para o projeto/campanha/marca.</p>


          <p>Estas são algumas das empresas e marcas que tive contato nos ultimos anos: BMW, P&G, Laboratórios Lilly, Mondelez, Reckitt Benckiser, Adidas, Camil, Microsoft (Windows, Office e X-Box), Unilever, Bunge, GOL, MARS, Pepsico, Friboi, Diageo, Coca-Cola, BRF, Mattel, Motorola, Kellogs, Alpargatas, Walmart, Warner e ASICS. Criando promoções, lançamentos de produtos, campanhas digitais, ativações de rua/guerrilla, soluções para PDV e, de quebra, eventos e feiras.</p>


          <p>Tenho uma formação multidiciplinar e nada ortodoxa. Cruzar referências, devorar filmes e ler até o dia amanhecer são meus passatempos prediletos.</p>
        </div>
        <div class="cv-text lang-en"  ng-if="lang=='en'">
<p>Native of São Paulo, and a natural-born info-freak, I think of myself as “dot-connecter” that doesn't believe in the “out-of-the-box” shenanigans. Instead, I work with a problem-solving approach through creativity and data to change the behaviour of the targets and their environments.</p>

<p>Having worked with creativity/art/insights for the past 25 years, I came from the trenches of the art department and during my career I became specialised in nothing. Because I believe that the wider your knowledge and knowhow, the better your ideas and insights.</p>

<p>If you are trying to coordinate a team of creative minds and people it´s better to have a knee-high ocean of knowledge of everything rather than a one-subject well 100ft deep. By using the right language, you are able to delegate and connect the entire team's work and bring actual quality to the project/campaign/brand.</p>

<p>Here are some of the companies and brands that I´he had firsthand contact: BMW, P&G, Laboratórios Lilly, Mondelez, Reckitt Benckiser, Adidas, Akzo-Nobel, Microsoft (Windows, Office e X-Box), Unilever, Bunge, GOL, MARS, Pepsico, Friboi, Diageo, Coca-Cola, BRF, Mattel, Motorola, Kelloggs, Alpargatas, Walmart, Warner and ASICS. For those I´ve created promotions, product launches, digital campaigns, guerrilla activations, POP solutions and events. All the while using innovation, gamification and cross data to became a behaviorist and really change things.</p>

<p>I have a multidisciplinary background and an unorthodox academic life track. Crossing references and reading until the break of dawn are my dearest hobbies.</p>

        </div>

    </div>
  </div>
