<div class="simplemodal">
  <div class="btn-close" ng-click="close()"></div>
  <div class="container">
    <h1>Disclaimer</h1>
	<div class="disclaimer-content">
	<p ng-show="lang=='pt'">
		Este currículo é uma obra temporária visando apenas um contato descontraído junto a Netflix. Todos os filmes e séries usadas nesta paródia são de propriedade dos respectivos Estúdios e serão prontamente retirados do ar caso assim for desejado por seus responsáveis legais. A Netflix é uma marca registrada da Netflix, Inc.
	</p>
	<p ng-show="lang=='en'">
		This resume is a temporary work aimed to make a fun contact with Netflix. All movies and shows used in this parody are owned by the respective Studios and will be promptly removed from the air if desired by their legal owners. Netflix is a registered trademark of Netflix, Inc.
	</p>
	</div>
  </div>
</div>
