<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">
          <img src="images/mainlogo.png">
        </a>

      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

      </div>
    </div>
  </div>
</div>
<div class="logon">
  <img src="images/lat_dir.png">
</div>
<div id="thanks" ng-show="showThanks">
  <div class="btn-close" ng-click="toggleThanks()"></div>
  <div class="container">
    <h1>Agradecimentos</h1>
    <h3>Cast</h3>
    <div class="row" style="width:80%;">
      <div class="col-md- col-sm-6 person" ng-repeat="p in data.people">
        <img ng-src="images/agrad_{{p.id}}.png" style="width:90px;height:90px;float: left;">
        <p><strong>{{p.name}}</strong></p>
        <p>{{p.job}}</p>
        <p class="stars"></p>
        <p>links</p>
      </div>
    </div>
    <div class="row" style="width:50%;">
      <div class="col-md-12">
        <p>Muito obrigado pelas risadas, paciência e tempo dedicado.</p>
      </div>
      <div class="col-md-4">
        Andrea Bacci<br />
        João Vinicius Saraiva<br />
        Jessica Bonetti<br />
      </div>
      <div class="col-md-4">
        Patrícia Barletta<br />
        Tina Sherer<br />
        Ítalo Cerone<br />
      </div>
      <div class="col-md-4">
        Pedro Oliveira<br />
      </div>

    </div>
  </div>
</div>
<div id="cv" ng-show="showCV">
  <div class="chofra-block">
    <img src="images/curriculo_background.png">
    <div class="text-place">
      <div class="blade-runner-place"></div>
        <div class="btn-close" ng-click="toggleCV()"></div>
        <img class="rating" src="images/curriculo_rating.png">
        <div class="cv-text lang-pt" ng-if="lang=='pt'">
          <p>Paulista Info-freak, sou um “ligador de pontos” que não acredita no conceito “fora da caixa” e sim em solucionar as necessidades do mercado e mudar o comportamento de shoppers e consumidores através criatividade e dados.</p>


          <p>Trabalho há mais de 20 anos com criatividade/arte/insight no mercado publicitário e cheguei à Direção de Criação vindo das trincheiras, me especializei em “nada”, já que acredito que quanto mais abrangente o seu know-how, maior a chance de inovar e construir boas ideias.</p>


          <p>Para coordenar times/fornecedores com funções criativas diferentes dentro de um mesmo conceito, é melhor ter um mar de conhecimento com meio metro de profundidade, sobre o máximo de assuntos possíveis, do que um poço de 20 metros monotemático. Pois usando a linguagem correta você pode delegar e conectar o trabalho de todos envolvidos, trazendo qualidade real para o projeto/campanha/marca.</p>


          <p>Estas são algumas das empresas e marcas que tive contato nos ultimos anos: BMW, P&G, Laboratórios Lilly, Mondelez, Reckitt Benckiser, Adidas, Camil, Microsoft (Windows, Office e X-Box), Unilever, Bunge, GOL, MARS, Pepsico, Friboi, Diageo, Coca-Cola, BRF, Mattel, Motorola, Kellogs, Alpargatas, Walmart, Warner e ASICS. Criando promoções, lançamentos de produtos, campanhas digitais, ativações de rua/guerrilla, soluções para PDV e, de quebra, eventos e feiras.</p>


          <p>Tenho uma formação multidiciplinar e nada ortodoxa. Cruzar referências, devorar filmes e ler até o dia amanhecer são meus passatempos prediletos.</p>
        </div>
        <div class="cv-text lang-en"  ng-if="lang=='en'">
<p>Native of São Paulo, and a natural-born info-freak, I think of myself as “dot-connecter” that doesn't believe in the “out-of-the-box” shenanigans. Instead, I work with a problem-solving approach through creativity and data to change the behaviour of the targets and their environments.</p>

<p>Having worked with creativity/art/insights for the past 25 years, I came from the trenches of the art department and during my career I became specialised in nothing. Because I believe that the wider your knowledge and knowhow, the better your ideas and insights.</p>

<p>If you are trying to coordinate a team of creative minds and people it´s better to have a knee-high ocean of knowledge of everything rather than a one-subject well 100ft deep. By using the right language, you are able to delegate and connect the entire team's work and bring actual quality to the project/campaign/brand.</p>

<p>Here are some of the companies and brands that I´he had firsthand contact: BMW, P&G, Laboratórios Lilly, Mondelez, Reckitt Benckiser, Adidas, Akzo-Nobel, Microsoft (Windows, Office e X-Box), Unilever, Bunge, GOL, MARS, Pepsico, Friboi, Diageo, Coca-Cola, BRF, Mattel, Motorola, Kelloggs, Alpargatas, Walmart, Warner and ASICS. For those I´ve created promotions, product launches, digital campaigns, guerrilla activations, POP solutions and events. All the while using innovation, gamification and cross data to became a behaviorist and really change things.</p>

<p>I have a multidisciplinary background and an unorthodox academic life track. Crossing references and reading until the break of dawn are my dearest hobbies.</p>

        </div>

    </div>
  </div>
</div>

<div id="main" class="container container2 page" ng-hide="showCV">
<div class="movie-section" id="{{section.id}}" ng-repeat="section in data.lists">
  <div class="container">
    <h2>{{section.title}}</h2>
    <div class="row row-movies">
      <div class="col-xs-2" ng-repeat="movie in section.movies">
        <div class="thumbnail" ng-click="openDescription(section, movie)" ng-class="{ 'active' : movie==selectedMovie }">
          <img ng-src="images/movies/{{movie.id}}/thumbnail.png">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row row-movies">
    <div class="col-xs-12 movie-description-block animate-if" ng-show="selectedSection==section">
      <div class="movie-description-container bg" ng-style="getStyle(selectedMovie)">
      <div class="container">
        <div class="movie-details">
          <h1 ng-if="!selectedMovie.original">{{selectedMovie.name}}</h1>
          <div class="original" ng-if="selectedMovie.original" ng-style="getOriginal()">
          </div>
          <div class="stars">
            <img ng-src="images/movies/{{selectedMovie.id}}/rating.png">
          </div>
          <div class="tx description">{{selectedMovie.description}}</div>
          <div class="tx">Estrelando: <span class="wt">{{selectedMovie.starring}}</span></div>
          <div class="tx">Gêneros: <span class="wt">{{selectedMovie.genres}}</span></div>
          <div class="tx">Momentos: <span class="wt">{{selectedMovie.scenes}}</span></div>
          <div class="tx award">
            <img ng-src="images/{{selectedMovie.icon_type}}.png">
            {{selectedMovie.award}}
          </div>
          <div class="tx-space"></div>
          <div class="fake_links" ng-class="getFakeLinkStyle()"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<div ng-repeat="section in data.lists" id="preload">
  <img ng-repeat="movie in section" ng-src="{{'images/movies/' + movie.id + '/background.png'}}" />
</div>

    </div>

    <div class="footer">
      <div class="container">

        <p class="text-center">
          <div class="bt bt-cv" ng-click="toggleCV()"></div>
          <div class="bt bt-thanks" ng-click="toggleThanks()"></div>
          <img src="images/sitemap.png">
        </p>
        <p>&nbsp;</p>
        <!--p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p-->
      </div>
    </div>

