<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">
        <img src="images/mainlogo.png">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

      </div>
    </div>
  </div>
</div>
<div id="cv" ng-show="showCV">
  <div class="cont prv">

  Ahasdash ha sdhkasd hahdk asdhka has dhaks dakhd ahd kadhka
  </div>
</div>

<div id="main" class="container container2 page">
<div class="movie-section" id="{{section.id}}" ng-repeat="section in data.lists">
  <div class="container">
    <h2>{{section.title}}</h2>
    <div class="row row-movies">
      <div class="col-xs-2" ng-repeat="movie in section.movies">
        <div class="thumbnail" ng-click="openDescription(section, movie)" ng-class="{ 'active' : movie==selectedMovie }">
          <img ng-src="images/movies/{{movie.id}}/thumbnail.png">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row row-movies">
    <div class="col-xs-12 movie-description-block animate-if" ng-show="selectedSection==section">
      <div class="movie-description-container bg" ng-style="getStyle(selectedMovie)">
      <div class="container">
        <div class="movie-details">
          <h1 ng-if="!selectedMovie.original">{{selectedMovie.name}}</h1>
          <div class="original" ng-if="selectedMovie.original" ng-style="getOriginal()">
          </div>
          <div class="stars">
            <img ng-src="images/movies/{{selectedMovie.id}}/rating.png">
          </div>
          <div class="tx description">{{selectedMovie.description}}</div>
          <div class="tx">Estrelando: <span class="wt">{{selectedMovie.starring}}</span></div>
          <div class="tx">Gêneros: <span class="wt">{{selectedMovie.genres}}</span></div>
          <div class="tx">Momentos: <span class="wt">{{selectedMovie.scenes}}</span></div>
          <div class="tx award">
            <img ng-src="images/{{selectedMovie.icon_type}}.png">
            {{selectedMovie.award}}
          </div>
          <div class="tx-space"></div>
          <div class="fake_links" ng-class="getFakeLinkStyle()"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<div ng-repeat="section in data.lists" id="preload">
  <img ng-repeat="movie in section" ng-src="{{'images/movies/' + movie.id + '/background.png'}}" />
</div>

    </div>

    <div class="footer">
      <div class="container">

        <p class="text-center">
          <div class="bt bt-cv" ng-click="showCV=!showCV;"></div>

          <img src="images/sitemap.png">
        </p>
        <p>&nbsp;</p>
        <!--p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p-->
      </div>
    </div>

