<p>&nbsp;</p>
<div class="movie-section" id="{{section.id}}" ng-repeat="section in data.lists">
  <div class="container">
    <h2>{{section.title}}</h2>
    <div class="row row-movies">
      <div class="col-xs-2" ng-repeat="movie in section.movies">
        <div class="thumbnail" ng-click="openDescription(section, movie)" ng-class="{ 'active' : movie==selectedMovie }">
          <img ng-src="images/movies/{{movie.id}}/thumbnail.png">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row row-movies">
    <div class="col-xs-12 movie-description-block animate-if" ng-show="selectedSection==section">
      <div class="movie-description-container bg" ng-style="getStyle(selectedMovie)">
      <div class="container">
        <div class="movie-details">
          <h1>{{selectedMovie.name}}</h1>
          <div class="stars">
            <img ng-src="images/movies/{{selectedMovie.id}}/rating.png">
          </div>
          <div class="tx description">{{selectedMovie.description}}</div>
          <div class="tx">Estrelando: <span class="wt">{{selectedMovie.starring}}</span></div>
          <div class="tx">Gêneros: <span class="wt">{{selectedMovie.genres}}</span></div>
          <div class="tx">Momentos: <span class="wt">{{selectedMovie.scenes}}</span></div>
          <div class="tx award">
            <img src="images/award.png">
            {{selectedMovie.award}}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div ng-repeat="section in data.lists" id="preload">
  <img ng-repeat="movie in section" ng-src="{{'images/movies/' + movie.id + '/background.png'}}" />
</div>
